#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details

export PULUMI_CONFIG_PASSPHRASE=''
export PULUMI_BACKEND_URL='s3://hutch-pulumi-state-278728209435-ap-southeast-2'
export AWS_PROFILE='hutch-production'
export AWS_REGION='ap-southeast-2'
