#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details

export PULUMI_CONFIG_PASSPHRASE=''
export AWS_CONFIG_FILE="$PWD/.aws/config"
export DYNAMODB_ARTICLES_TABLE=hutch-articles-6804751
export DYNAMODB_USERS_TABLE=hutch-users-f90c09e
export DYNAMODB_SESSIONS_TABLE=hutch-sessions-d17dbb3
export DYNAMODB_OAUTH_TABLE=hutch-oauth-ecd3db9
export DYNAMODB_VERIFICATION_TOKENS_TABLE=hutch-verification-tokens-3f85043
export DYNAMODB_USER_ARTICLES_TABLE=hutch-user-articles-eca05af

# Load secrets from .env, which is gitignored for local-only env vars
if [ -f "$PWD/.env" ]; then
  source "$PWD/.env"
fi