    <main class="view">
      <article class="view__body">
        {{{innerContent}}}
      </article>
    </main>
    <aside class="view__cta" data-test-view-cta>
      {{#each actions}}
      <a class="view__cta-btn" href="{{href}}" data-test-view-cta-action>{{name}}</a>
      {{/each}}
    </aside>
    <form method="POST" action="/view/prime" data-test-view-prime{{#if needsPriming}} data-auto-submit{{/if}} hidden>
      <input type="hidden" name="url" value="{{articleUrl}}">
    </form>
    <script>
    (function () {
      var form = document.querySelector('[data-auto-submit]');
      if (form) form.requestSubmit();
    })();
    </script>
